@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap');

*{
    box-sizing: border-box;
}

h1{
    font-family: "Playfair";
    font-size: 65px;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}
h2{ font-family: "Playfair";}

h3 h4 h5 {font-family: "Work Sans";
}

p{ font-family: "Lora";}

ul {list-style: none;}

body{margin: 0;}

.container{
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

header{
    background-color: rgb(255, 255,255);
}
a{
    display: none;
}

header .logo{
    margin: 0;
    padding: 20px 30px 40px 20px;
    width: 300px;
    display: inline-block;
}

header .container{
    display: flex;
    flex-direction: column;
    display: inline-block;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-top: 0px;
}

.Logo-Sabujcha{
    width: 230px;
    padding: 20px 10px 30px 20px;
    justify-content: center;
    display: inline;
}


header .a{
    padding: 5px 12px;
    text-decoration: none;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image: url(/Sabujcha/IMG/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.title{
    font-size: 52px;
    font-weight: 100;
    font-family: "Playfair";
}

.shop-now{
    font-family: "Work sans";
    text-decoration: underline;
    font-size: 24px;
    margin-top: 25px;
}
    
.title-card1 {
    color: green;
    font-size: 50px;
    font-weight: 100;
    margin: 0px;
    margin-top: 150px;
    margin-left: -80px;
    }

.title-card2 {
    color: green;
    font-size: 50px;
    font-weight: 100;
    margin: 0px;
    margin-top: 150px;
    margin-left: -80px;
}

.text-card1{
    margin-top: 0px;
    margin-left: -80px;
}

.card1{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/banner-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    margin-top: 40px;
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 20%;
    padding-left: 20%;
}

.card{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/banner-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    margin-top: 120px;
    width: 400px;
    height: 250px;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 20%;
    padding-left: 20%;
}

.text-card2{
    display: block;
    text-align:left ;
    margin-top: 0px ;
    margin-left: -80px;
}

#cards-2 .container{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/Sabujcha/IMG/bg-1.jpg);
    margin-top: 90px;
}

#cards-2{
    padding-left: 3%;
    padding-right: 3%;

}

.title-lastes{
    font-family: "Playfair";
    font-size: 38px;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    padding-top: 70px;
    color: #575757 
}


.title-footer{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0px;
    margin-left: 25px;
    margin-top: 10px;
}

.text-footer{
    font-family: "Playfair Display", serif;
    font-size: 17px;
    font-weight: 400;
    color: rgb(32, 32, 32);
    margin: 0px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.text-lastes{
    font-size: 18px;
    padding: 15px;
    margin-top: 10px;
    color: #575757;
}

.img-products{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
}
.img-products-2{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}
.img-products-3{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}
.img-products-4{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}

.title-product{
    font-family:"Work Sans";
    font-size: 25px;
    color: #575757;
    text-align: left;
    padding-left: 11%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-product-1{
    font-family:"Work Sans";
    font-size: 17px;
    color: #333333;
    text-align: left;
    padding-left: 11%;
    margin: 0%;
    padding-bottom: 30px;
}

.descuento{
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #529F0F;
    color: white;
    font-weight: bolder;
    position: absolute;
    justify-content: center;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    text-align: center;
}

#sub{
    color: #575757;
    text-decoration: line-through;
    font-size: 20px;
}

#TRES{
    font-size: 50px;
    display: inline;
    text-align: right;
    position: absolute;
    left: 600px;
    top: 30px;
}

.USD{
    font-size: 20px;
    display: inline;
    text-align: right;
    position: absolute;
    left: 500px;
    top: 30px;
    font-weight: 200;
}

.carrito{
    display: inline;
    text-align: right;
    position: absolute;
    left: 550px;
    top: 43px;
    width: 30px;
}

.title-product-none{
    font-family:"Work Sans";
    font-size: 28px;
    color: #575757;
    text-align: left;
    padding-left: 10%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}

.text-product-none{
    font-family:"Work Sans";
    font-size: 20px;
    color: #333333;
    text-align: left;
    padding-left: 10%;
    margin: 0%;
    display: none;
}

#plantica {
    padding-left: 5%;
    padding-right: 5%;
   margin-top: 50px;
   align-items: center;
   text-align: center;
}

.planticaa{
    align-self: center;
    background-image: url(/Sabujcha/IMG/testi.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
}

.platica-text{
    font-size: 25px;
    color: #333333;
}

.plantica-sub{
    font-size: 16px;
    font-family: "Work Sans";
    margin-top: 47px;
    font-weight: 100;
    color: #333333;
}

.plantica-mini{
    font-size: 14px;
    font-family: "Work Sans";
    font-weight: 100;
    color: #575757;
    margin-bottom: 80px;
}

#new-products {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 50px;
    background-color: #ecececa8;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.title-newproducts{
    font-size: 40px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 5px;
}

.text-newproducts{
    font-size: 20px;
    color: #575757;
    margin-bottom: 60px;
}

.img1-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;}

.img2-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}

.img3-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}

.img4-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}
    

.img5-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
}

.img6-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}

.img7-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}
.img8-newproduct{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/product-8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 480px;
    height: 450px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
    display: none;
}
.descuento1{
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #529F0F;
    color: white;
    font-weight: bolder;
    position: absolute;
    justify-content: center;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    text-align: center;
}
.descuento2{
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #529F0F;
    color: white;
    font-weight: bolder;
    position: absolute;
    justify-content: center;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    text-align: center;
}

#lastes {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 50px;
    background-image: url(/Sabujcha/IMG/bg-1.jpg);
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column; 
}

.img-lastes{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/blog-single-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 430px;
    height: 520px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
}

.img2-lastes{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/blog-single-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 430px;
    height: 520px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
}

.img3-lastes{
    display: inline-block;
    align-self: center;
    background-image: url(/Sabujcha/IMG/blog-single-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    width: 430px;
    height: 520px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 0px;
}

.title-lastes{
    font-size: 40px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 35px;
    text-decoration: underline;
    padding-top: 20px;
}
.fecha{
    font-size: 17px;
    color: #529F0F;
    text-align: left;
    padding-left: 14%;
    text-decoration: underline;
}
.title-lastes-sec{
    font-size: 32px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 25px;
    padding-left: 14%;
    text-align: left;
    margin-top: 0px;
}

.p-lastes-sec{
    font-size: 20px;
    color: #575757;
    text-align: left;
    padding-left: 14%;
}

.read{
    font-size: 15px;
    color: #333333;
    text-align: left;
    padding-left: 14%;
    text-decoration: underline;
    padding-bottom: 5%;
}

#logo{
    align-items: center;
    text-align: center;
    display: block;
}
.img-logo{
    width: 200px;
    height: 100px;
    align-items: center;
    display: block;
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 16%;
    margin-bottom: 16%;
}
.img2-logo{
    width: 280px;
    height: 140px;
    align-items: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: none;
}
.img3-logo{
    width: 280px;
    height: 140px;
    align-items: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: none;
}
.img4-logo{
    width: 280px;
    height: 140px;
    align-items: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: none;
}
.img5-logo{
    width: 280px;
    height: 140px;
    align-items: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: none;
}
#formulario{
    background-image: url(/Sabujcha/IMG/bg-2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
.title-form{
    font-size: 35px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 25px;
    margin-top: 0px;
}
.form-1{
    width: 220px;
    height: 70px;
    border-color: #333333;
    background-color: #ecececa8;
    align-content: center;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    text-align: left;
}

.form-2{
    width: 130px;
    height: 70px;
    background-color: #000000;
    align-content: center;
    line-height: 70px;
    display: inline-block;
    margin: 0px;
    color: white;
    font-size: 14px;
}

#redes{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column; 
    background-color: #cccccc;
    height: 120px;
    margin-top: 50px;
}
.redes-text{
    font-size: 20px;
    padding-top: 4%;
    padding-bottom: 4%;

}
.logos-payment{
    height: 30px;
}

.title-lastes1{
    font-size: 40px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 35px;
    padding-top: 40px;
}