@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap');


.menu-nav{
    display: inline;
    font-size: 12px;
    margin-left: 15px;
    font-family: "Lora"; 
}

.logo{
    align-items: center;
    display: flexbox;
    width: 140px;
    position: absolute;
    left: 590px;
    padding: 10 10 10 10;
}

.img-slide{
    width: 1290px;
    margin: 20px;
    margin-top: 10px;
    z-index: 1;
    position: absolute;
}
.title-slide{
   font-family: "Playfair"; 
   font-size: 47px;
   font-weight: 100;
   z-index: 9;
   position: relative;
   top: 200px;
   text-align: center;
}
.shop-now{
    text-align: center;
    font-family: "Work sans";
    font-size: 14px;
    position: absolute;
    z-index: 9;
    top: 368px;
    left: 635px;
    text-decoration: underline;
}